@use '../../../scss/mixin' as ms;

.layout {
    padding-left: 230px;
    width: 95%;
    padding-top: 20px;
}

.p-component {
    @include ms.flexbox(flex-end, flex-start);
    padding-bottom: 80px;
}